__pycache__
__glcache__
workspace
*.pyd/*
build
dist
*.egg-info
*.avi
*.mp4
.vscode
upload.bat
generate_md5.py
used_shaders
setup.py
MANIFEST.in
.python-version
.DS_Store
assimpy/assimp-*/*
assimpy/pybind11-*/*
assimpy/assimp/*
assimpy/pybind11/*
*.sqlite
glass/CodeCompressor/tree-sitter-glsl/src/*
test_*