PyOpenGL
PyOpenGL_accelerate
tree-sitter
PyGLM
numpy
opencv-python
maxminddb-geolite2
wget
requests
chardet
freetype-py
build
setuptools
twine
wheel
pybind11
pyflakes
pyinstaller
auditwheel